@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    font-family: Montserrat;
}

table
{ 
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

table > tr, th {
    padding-bottom: 10px;
}

h3 {
    padding-bottom: 10px;
}

img {
    width: 20%;
}
.center {        
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  }